header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

main {
  display: flex;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#evaluation-form div {
  display: flex;
  flex-wrap: wrap;
}

#evaluation-form div input , #evaluation-form div select {
  margin: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 500px;
}

#input-name , #input-lastname , #input-email , #house {
  width: 40%;
}

#radio-container {
  display: flex;
  flex-flow: column wrap;
  width: 50px;
}

#submit-btn {
  display: none;
}
